/* fix */
.glyphicon .glyphicon-posrec{
	position: relative;
	top:2px;
}

/* heading */
article {
	border-right: 1px solid #bdc3c7;
	border-left: 1px solid #bdc3c7;
}
header, nav {
	width: 100%;
	box-shadow: 0 3px 6px #AAA;
}
header {
	background-color: #c0392b;
	padding: 7px 0;
}
nav {
	background-color: #2c3e50;
	height: 40px;
	margin-bottom: 5px;
}
nav li {
	display: inline-block;
	list-style-type: none;
	margin: 0 5px;
}
nav li a {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	color: #ecf0f1;
	padding: 0 6px;
	line-height: 40px;
	vertical-align: middle;
}
nav li a:hover {
	color: #bdc3c7;
	background-color: #34495e;
	text-decoration: none;
}

/* Content */
section {
	margin-top: 5px;
}

/* footer */
footer {
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #ecf0f1;
	margin-top: 3px;
	color: #7f8c8d;
}

/* general Class */
a.delete {
	color: #2c3e50;
}
a.delete:hover {
	color: #c0392b;
	text-decoration: none;
}