{% extends "UABlogBundle::layout.html.twig" %}

{% block body %}
	{# S'il y a une erreur, on l'affiche dans un joli cadre #}

	{% if error %}
		<div class="alert alert-error">{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('fos_user_security_check') }}" method="post" style="width:20%;margin:auto;">
		<label for="username">Login :</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur :" class="form-control" />

		<label for="password">Mot de passe :</label>
		<input type="password" id="password" name="_password" placeholder="Mot de passe :" class="form-control" />
		<br />

		<input type="checkbox" id="remember_me" name="_remember_me" checked />
		<label for="remember_me">Keep me logged in</label>
    	<br />
		<input type="submit" value="Connexion" class="btn btn-default" />
	</form>
{% endblock %}